.DS_Store
source/MVCDojoGrid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

source/MVCDojoGrid/obj/Debug/MVCDojoGrid.pdb

source/MVCDojoGrid/obj/Debug/MVCDojoGrid.dll

source/MVCDojoGrid/obj/Debug/MVCDojoGrid.csproj.FileListAbsolute.txt

source/MVCDojoGrid/bin/Debug/MVCDojoGrid.pdb

source/MVCDojoGrid/bin/Debug/MVCDojoGrid.dll
